################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/cmake-build-debug
build/
/vcpkg_installed
/OdbDesignServer/designs/
/cmake-build-debug-visual-studio
/.idea/workspace.xml
ssl/
artifacts/
/TEST_DATA
OdbDesignTests/Testing/
Testing/
testlog.txt
testlog.txt.tmp*
testlog.xml
/OdbDesignTests/FileArchiveLoadTests_Local.cpp
/OdbDesignTests/CMakeLists_Local.txt
/OdbDesignTests/DesignNameTests_Local.cpp
/output
/TEST_DATA.zip
deploy/kubeconfig
Dockerfile.commentedOut
scripts/create-release-invoker.js
/compose-designs
docs/api/
perfertto-tracing-span-events-SQL.md
# Corrected spelling to ensure both variants are ignored
perfetto-tracing-span-events-SQL.md
build-win/CMakeCache.txt
build-win/CMakeFiles/cmake.check_cache
build-win/CMakeFiles/CMakeConfigureLog.yaml
build-win/CMakeFiles/4.2.0/CMakeCCompiler.cmake
build-win/CMakeFiles/4.2.0/CMakeCXXCompiler.cmake
build-win/CMakeFiles/4.2.0/CMakeDetermineCompilerABI_C.bin
build-win/CMakeFiles/4.2.0/CMakeDetermineCompilerABI_CXX.bin
build-win/CMakeFiles/4.2.0/CMakeRCCompiler.cmake
build-win/CMakeFiles/4.2.0/CMakeSystem.cmake
build-win/CMakeFiles/4.2.0/VCTargetsPath.txt
build-win/CMakeFiles/4.2.0/VCTargetsPath.vcxproj
build-win/CMakeFiles/4.2.0/CompilerIdC/CMakeCCompilerId.c
build-win/CMakeFiles/4.2.0/CompilerIdC/CompilerIdC.exe
build-win/CMakeFiles/4.2.0/CompilerIdC/CompilerIdC.vcxproj
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CMakeCCompilerId.obj
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.exe.recipe
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/Cl.items.tlog
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/link.secondary.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build-win/CMakeFiles/4.2.0/CompilerIdCXX/CompilerIdCXX.exe
build-win/CMakeFiles/4.2.0/CompilerIdCXX/CompilerIdCXX.vcxproj
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build-win/CMakeFiles/4.2.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build-win/CMakeFiles/4.2.0/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build-win/CMakeFiles/4.2.0/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build-win/_deps/googletest-build/googletest/generated/gmock_main.pc
build-win/_deps/googletest-build/googletest/generated/gmock.pc
build-win/_deps/googletest-build/googletest/generated/gtest_main.pc
build-win/_deps/googletest-build/googletest/generated/gtest.pc
build-win/_deps/googletest-build/googletest/generated/GTestConfig.cmake
build-win/_deps/googletest-build/googletest/generated/GTestConfigVersion.cmake
build-win/_deps/googletest-src/.clang-format
build-win/_deps/googletest-src/.gitignore
build-win/_deps/googletest-src/BUILD.bazel
build-win/_deps/googletest-src/CMakeLists.txt
build-win/_deps/googletest-src/CONTRIBUTING.md
build-win/_deps/googletest-src/CONTRIBUTORS
build-win/_deps/googletest-src/fake_fuchsia_sdk.bzl
build-win/_deps/googletest-src/googletest_deps.bzl
build-win/_deps/googletest-src/LICENSE
build-win/_deps/googletest-src/MODULE.bazel
build-win/_deps/googletest-src/README.md
build-win/_deps/googletest-src/WORKSPACE
build-win/_deps/googletest-src/WORKSPACE.bzlmod
build-win/_deps/googletest-src/.github/ISSUE_TEMPLATE/00-bug_report.yml
build-win/_deps/googletest-src/.github/ISSUE_TEMPLATE/10-feature_request.yml
build-win/_deps/googletest-src/.github/ISSUE_TEMPLATE/config.yml
build-win/_deps/googletest-src/ci/linux-presubmit.sh
build-win/_deps/googletest-src/ci/macos-presubmit.sh
build-win/_deps/googletest-src/ci/windows-presubmit.bat
build-win/_deps/googletest-src/docs/_config.yml
build-win/_deps/googletest-src/docs/advanced.md
build-win/_deps/googletest-src/docs/community_created_documentation.md
build-win/_deps/googletest-src/docs/faq.md
build-win/_deps/googletest-src/docs/gmock_cheat_sheet.md
build-win/_deps/googletest-src/docs/gmock_cook_book.md
build-win/_deps/googletest-src/docs/gmock_faq.md
build-win/_deps/googletest-src/docs/gmock_for_dummies.md
build-win/_deps/googletest-src/docs/index.md
build-win/_deps/googletest-src/docs/pkgconfig.md
build-win/_deps/googletest-src/docs/platforms.md
build-win/_deps/googletest-src/docs/primer.md
build-win/_deps/googletest-src/docs/quickstart-bazel.md
build-win/_deps/googletest-src/docs/quickstart-cmake.md
build-win/_deps/googletest-src/docs/samples.md
build-win/_deps/googletest-src/docs/_data/navigation.yml
build-win/_deps/googletest-src/docs/_layouts/default.html
build-win/_deps/googletest-src/docs/_sass/main.scss
build-win/_deps/googletest-src/docs/assets/css/style.scss
build-win/_deps/googletest-src/docs/reference/actions.md
build-win/_deps/googletest-src/docs/reference/assertions.md
build-win/_deps/googletest-src/docs/reference/matchers.md
build-win/_deps/googletest-src/docs/reference/mocking.md
build-win/_deps/googletest-src/docs/reference/testing.md
build-win/_deps/googletest-src/googlemock/CMakeLists.txt
build-win/_deps/googletest-src/googlemock/README.md
build-win/_deps/googletest-src/googlemock/cmake/gmock_main.pc.in
build-win/_deps/googletest-src/googlemock/cmake/gmock.pc.in
build-win/_deps/googletest-src/googlemock/docs/README.md
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-actions.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-cardinalities.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-function-mocker.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-matchers.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-more-actions.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-more-matchers.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-nice-strict.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock-spec-builders.h
build-win/_deps/googletest-src/googlemock/include/gmock/gmock.h
build-win/_deps/googletest-src/googlemock/include/gmock/internal/gmock-internal-utils.h
build-win/_deps/googletest-src/googlemock/include/gmock/internal/gmock-port.h
build-win/_deps/googletest-src/googlemock/include/gmock/internal/gmock-pp.h
build-win/_deps/googletest-src/googlemock/include/gmock/internal/custom/gmock-generated-actions.h
build-win/_deps/googletest-src/googlemock/include/gmock/internal/custom/gmock-matchers.h
build-win/_deps/googletest-src/googlemock/include/gmock/internal/custom/gmock-port.h
build-win/_deps/googletest-src/googlemock/include/gmock/internal/custom/README.md
build-win/_deps/googletest-src/googlemock/src/gmock_main.cc
build-win/_deps/googletest-src/googlemock/src/gmock-all.cc
build-win/_deps/googletest-src/googlemock/src/gmock-cardinalities.cc
build-win/_deps/googletest-src/googlemock/src/gmock-internal-utils.cc
build-win/_deps/googletest-src/googlemock/src/gmock-matchers.cc
build-win/_deps/googletest-src/googlemock/src/gmock-spec-builders.cc
build-win/_deps/googletest-src/googlemock/src/gmock.cc
build-win/_deps/googletest-src/googlemock/test/BUILD.bazel
build-win/_deps/googletest-src/googlemock/test/gmock_all_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock_ex_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock_leak_test_.cc
build-win/_deps/googletest-src/googlemock/test/gmock_leak_test.py
build-win/_deps/googletest-src/googlemock/test/gmock_link_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock_link_test.h
build-win/_deps/googletest-src/googlemock/test/gmock_link2_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock_output_test_.cc
build-win/_deps/googletest-src/googlemock/test/gmock_output_test_golden.txt
build-win/_deps/googletest-src/googlemock/test/gmock_output_test.py
build-win/_deps/googletest-src/googlemock/test/gmock_stress_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock_test_utils.py
build-win/_deps/googletest-src/googlemock/test/gmock_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-actions_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-cardinalities_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-function-mocker_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-internal-utils_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-matchers_test.h
build-win/_deps/googletest-src/googlemock/test/gmock-matchers-arithmetic_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-matchers-comparisons_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-matchers-containers_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-matchers-misc_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-more-actions_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-nice-strict_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-port_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-pp_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-pp-string_test.cc
build-win/_deps/googletest-src/googlemock/test/gmock-spec-builders_test.cc
build-win/_deps/googletest-src/googletest/CMakeLists.txt
build-win/_deps/googletest-src/googletest/README.md
build-win/_deps/googletest-src/googletest/cmake/Config.cmake.in
build-win/_deps/googletest-src/googletest/cmake/gtest_main.pc.in
build-win/_deps/googletest-src/googletest/cmake/gtest.pc.in
build-win/_deps/googletest-src/googletest/cmake/internal_utils.cmake
build-win/_deps/googletest-src/googletest/cmake/libgtest.la.in
build-win/_deps/googletest-src/googletest/docs/README.md
build-win/_deps/googletest-src/googletest/include/gtest/gtest_pred_impl.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest_prod.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-assertion-result.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-death-test.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-matchers.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-message.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-param-test.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-printers.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-spi.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-test-part.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest-typed-test.h
build-win/_deps/googletest-src/googletest/include/gtest/gtest.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-death-test-internal.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-filepath.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-internal.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-param-util.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-port-arch.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-port.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-string.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/gtest-type-util.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/custom/gtest-port.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/custom/gtest-printers.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/custom/gtest.h
build-win/_deps/googletest-src/googletest/include/gtest/internal/custom/README.md
build-win/_deps/googletest-src/googletest/samples/prime_tables.h
build-win/_deps/googletest-src/googletest/samples/sample1_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample1.cc
build-win/_deps/googletest-src/googletest/samples/sample1.h
build-win/_deps/googletest-src/googletest/samples/sample2_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample2.cc
build-win/_deps/googletest-src/googletest/samples/sample2.h
build-win/_deps/googletest-src/googletest/samples/sample3_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample3-inl.h
build-win/_deps/googletest-src/googletest/samples/sample4_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample4.cc
build-win/_deps/googletest-src/googletest/samples/sample4.h
build-win/_deps/googletest-src/googletest/samples/sample5_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample6_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample7_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample8_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample9_unittest.cc
build-win/_deps/googletest-src/googletest/samples/sample10_unittest.cc
build-win/_deps/googletest-src/googletest/src/gtest_main.cc
build-win/_deps/googletest-src/googletest/src/gtest-all.cc
build-win/_deps/googletest-src/googletest/src/gtest-assertion-result.cc
build-win/_deps/googletest-src/googletest/src/gtest-death-test.cc
build-win/_deps/googletest-src/googletest/src/gtest-filepath.cc
build-win/_deps/googletest-src/googletest/src/gtest-internal-inl.h
build-win/_deps/googletest-src/googletest/src/gtest-matchers.cc
build-win/_deps/googletest-src/googletest/src/gtest-port.cc
build-win/_deps/googletest-src/googletest/src/gtest-printers.cc
build-win/_deps/googletest-src/googletest/src/gtest-test-part.cc
build-win/_deps/googletest-src/googletest/src/gtest-typed-test.cc
build-win/_deps/googletest-src/googletest/src/gtest.cc
build-win/_deps/googletest-src/googletest/test/BUILD.bazel
build-win/_deps/googletest-src/googletest/test/googletest-break-on-failure-unittest_.cc
build-win/_deps/googletest-src/googletest/test/googletest-break-on-failure-unittest.py
build-win/_deps/googletest-src/googletest/test/googletest-catch-exceptions-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-catch-exceptions-test.py
build-win/_deps/googletest-src/googletest/test/googletest-color-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-color-test.py
build-win/_deps/googletest-src/googletest/test/googletest-death-test_ex_test.cc
build-win/_deps/googletest-src/googletest/test/googletest-death-test-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-env-var-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-env-var-test.py
build-win/_deps/googletest-src/googletest/test/googletest-fail-if-no-test-linked-test-with-disabled-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-fail-if-no-test-linked-test-with-enabled-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-fail-if-no-test-linked-test.py
build-win/_deps/googletest-src/googletest/test/googletest-failfast-unittest_.cc
build-win/_deps/googletest-src/googletest/test/googletest-failfast-unittest.py
build-win/_deps/googletest-src/googletest/test/googletest-filepath-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-filter-unittest_.cc
build-win/_deps/googletest-src/googletest/test/googletest-filter-unittest.py
build-win/_deps/googletest-src/googletest/test/googletest-global-environment-unittest_.cc
build-win/_deps/googletest-src/googletest/test/googletest-global-environment-unittest.py
build-win/_deps/googletest-src/googletest/test/googletest-json-outfiles-test.py
build-win/_deps/googletest-src/googletest/test/googletest-json-output-unittest.py
build-win/_deps/googletest-src/googletest/test/googletest-list-tests-unittest_.cc
build-win/_deps/googletest-src/googletest/test/googletest-list-tests-unittest.py
build-win/_deps/googletest-src/googletest/test/googletest-listener-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-message-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-options-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-output-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-output-test-golden-lin.txt
build-win/_deps/googletest-src/googletest/test/googletest-output-test.py
build-win/_deps/googletest-src/googletest/test/googletest-param-test-invalid-name1-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-param-test-invalid-name1-test.py
build-win/_deps/googletest-src/googletest/test/googletest-param-test-invalid-name2-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-param-test-invalid-name2-test.py
build-win/_deps/googletest-src/googletest/test/googletest-param-test-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-param-test-test.h
build-win/_deps/googletest-src/googletest/test/googletest-param-test2-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-port-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-printers-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-setuptestsuite-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-setuptestsuite-test.py
build-win/_deps/googletest-src/googletest/test/googletest-shuffle-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-shuffle-test.py
build-win/_deps/googletest-src/googletest/test/googletest-test-part-test.cc
build-win/_deps/googletest-src/googletest/test/googletest-throw-on-failure-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-throw-on-failure-test.py
build-win/_deps/googletest-src/googletest/test/googletest-uninitialized-test_.cc
build-win/_deps/googletest-src/googletest/test/googletest-uninitialized-test.py
build-win/_deps/googletest-src/googletest/test/gtest_all_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_assert_by_exception_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_dirs_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_environment_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_help_test_.cc
build-win/_deps/googletest-src/googletest/test/gtest_help_test.py
build-win/_deps/googletest-src/googletest/test/gtest_json_test_utils.py
build-win/_deps/googletest-src/googletest/test/gtest_list_output_unittest_.cc
build-win/_deps/googletest-src/googletest/test/gtest_list_output_unittest.py
build-win/_deps/googletest-src/googletest/test/gtest_main_unittest.cc
build-win/_deps/googletest-src/googletest/test/gtest_no_test_unittest.cc
build-win/_deps/googletest-src/googletest/test/gtest_pred_impl_unittest.cc
build-win/_deps/googletest-src/googletest/test/gtest_premature_exit_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_prod_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_repeat_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_skip_check_output_test.py
build-win/_deps/googletest-src/googletest/test/gtest_skip_environment_check_output_test.py
build-win/_deps/googletest-src/googletest/test/gtest_skip_in_environment_setup_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_skip_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_sole_header_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_stress_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_test_macro_stack_footprint_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_test_utils.py
build-win/_deps/googletest-src/googletest/test/gtest_testbridge_test_.cc
build-win/_deps/googletest-src/googletest/test/gtest_testbridge_test.py
build-win/_deps/googletest-src/googletest/test/gtest_throw_on_failure_ex_test.cc
build-win/_deps/googletest-src/googletest/test/gtest_unittest.cc
build-win/_deps/googletest-src/googletest/test/gtest_xml_outfile1_test_.cc
build-win/_deps/googletest-src/googletest/test/gtest_xml_outfile2_test_.cc
build-win/_deps/googletest-src/googletest/test/gtest_xml_outfiles_test.py
build-win/_deps/googletest-src/googletest/test/gtest_xml_output_unittest_.cc
build-win/_deps/googletest-src/googletest/test/gtest_xml_output_unittest.py
build-win/_deps/googletest-src/googletest/test/gtest_xml_test_utils.py
build-win/_deps/googletest-src/googletest/test/gtest-typed-test_test.cc
build-win/_deps/googletest-src/googletest/test/gtest-typed-test_test.h
build-win/_deps/googletest-src/googletest/test/gtest-typed-test2_test.cc
build-win/_deps/googletest-src/googletest/test/gtest-unittest-api_test.cc
build-win/_deps/googletest-src/googletest/test/production.cc
build-win/_deps/googletest-src/googletest/test/production.h
build-win/_deps/googletest-subbuild/ALL_BUILD.vcxproj
build-win/_deps/googletest-subbuild/ALL_BUILD.vcxproj.filters
build-win/_deps/googletest-subbuild/cmake_install.cmake
build-win/_deps/googletest-subbuild/CMakeCache.txt
build-win/_deps/googletest-subbuild/CMakeLists.txt
build-win/_deps/googletest-subbuild/googletest-populate.slnx
build-win/_deps/googletest-subbuild/googletest-populate.vcxproj
build-win/_deps/googletest-subbuild/googletest-populate.vcxproj.filters
build-win/_deps/googletest-subbuild/ZERO_CHECK.vcxproj
build-win/_deps/googletest-subbuild/ZERO_CHECK.vcxproj.filters
build-win/_deps/googletest-subbuild/CMakeFiles/cmake.check_cache
build-win/_deps/googletest-subbuild/CMakeFiles/CMakeConfigureLog.yaml
build-win/_deps/googletest-subbuild/CMakeFiles/generate.stamp
build-win/_deps/googletest-subbuild/CMakeFiles/generate.stamp.depend
build-win/_deps/googletest-subbuild/CMakeFiles/generate.stamp.list
build-win/_deps/googletest-subbuild/CMakeFiles/InstallScripts.json
build-win/_deps/googletest-subbuild/CMakeFiles/TargetDirectories.txt
build-win/_deps/googletest-subbuild/CMakeFiles/1b6a1b1c19a150ee1882bd660eb4c89a/generate.stamp.rule
build-win/_deps/googletest-subbuild/CMakeFiles/1b6a1b1c19a150ee1882bd660eb4c89a/googletest-populate.rule
build-win/_deps/googletest-subbuild/CMakeFiles/4.2.0/CMakeSystem.cmake
build-win/_deps/googletest-subbuild/CMakeFiles/4.2.0/VCTargetsPath.txt
build-win/_deps/googletest-subbuild/CMakeFiles/4.2.0/VCTargetsPath.vcxproj
build-win/_deps/googletest-subbuild/CMakeFiles/4.2.0/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build-win/_deps/googletest-subbuild/CMakeFiles/4.2.0/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build-win/_deps/googletest-subbuild/CMakeFiles/9e6036d75831349bbe4f15cbba5fbc93/googletest-populate-complete.rule
build-win/_deps/googletest-subbuild/CMakeFiles/Debug/googletest-populate-complete
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-build.rule
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-configure.rule
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-download.rule
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-install.rule
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-mkdir.rule
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-patch.rule
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-test.rule
build-win/_deps/googletest-subbuild/CMakeFiles/b3c45480c696934f556224dc22ab5731/googletest-populate-update.rule
build-win/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.json
build-win/_deps/googletest-subbuild/CMakeFiles/googletest-populate.dir/Labels.txt
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/v1.17.0.zip
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/download-googletest-populate.cmake
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/extract-googletest-populate.cmake
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-patch-info.txt
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-update-info.txt
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/googletest-populate-urlinfo.txt
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/verify-googletest-populate.cmake
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-build
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-configure
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-done
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-download
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-install
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-mkdir
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-patch
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-test
build-win/_deps/googletest-subbuild/googletest-populate-prefix/src/googletest-populate-stamp/Debug/googletest-populate-update
build-win/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-cfgcmd.txt
build-win/_deps/googletest-subbuild/googletest-populate-prefix/tmp/googletest-populate-mkdirs.cmake
build-win/_deps/googletest-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build-win/_deps/googletest-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build-win/_deps/googletest-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build-win/_deps/googletest-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build-win/_deps/googletest-subbuild/x64/Debug/googletest-populate/googletest-populate.recipe
build-win/_deps/googletest-subbuild/x64/Debug/googletest-populate/googlete.FFEA6440.tlog/CustomBuild.command.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/googletest-populate/googlete.FFEA6440.tlog/CustomBuild.read.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/googletest-populate/googlete.FFEA6440.tlog/CustomBuild.write.1.tlog
build-win/_deps/googletest-subbuild/x64/Debug/googletest-populate/googlete.FFEA6440.tlog/googletest-populate.lastbuildstate
.gemini/settings.json.orig
/.gemini/settings.json.orig
