################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
OdbDesignLib/OdbDesignLib_wrap.cxx
PyOdbDesignLib/dist/
PyOdbDesignLib/_PyOdbDesignLib.dll
PyOdbDesignLib/PyOdbDesignLib.py
PyOdbDesignLib/_PyOdbDesignLib.pyd
PyOdbDesignLib/__pycache__/
PyOdbDesignServer/Lib/
PyOdbDesignServer/PyOdbDesignServer/__pycache__/
PyOdbDesignServer/pyvenv.cfg
PyOdbDesignServer/db.sqlite3
PyOdbDesignServer/Scripts/
PyOdbDesignServer/api/__pycache__/
PyOdbDesignServer/PyOdbDesignLib/
/cmake-build-debug
build/
/vcpkg_installed
/OdbDesignServer/designs/
/cmake-build-debug-visual-studio
