################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
OdbDesignLib/OdbDesignLib_wrap.cxx
swig/PyOdbDesignLib.py
