openapi: 3.0.1
info:
  title: OdbDesign Server API
  description: OdbDesign Server REST API
  version: "0.9"
  contact:
    name: Nathan Miller
    email: nmiller217@gmail.com
  license:
    name: MIT
servers:
  - url: http://default-ingress-1165108808.us-west-2.elb.amazonaws.com
  - url: http://localhost:8888
tags:
  - name: "filemodel"
  - name: "file upload"
  - name: "helloworld"
paths:
  /designs/list:
    get:
      tags: ["file upload"]
      parameters: []
      responses:
        "200":
          description: ""
      security:
        - BasicAuth: []
  /designs/upload/{name}:
    post:
      tags: ["file upload"]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary        
      responses:
        "200":
          description: ""
      security:
        - BasicAuth: []
  /designs/upload:
    post:
      tags: ["file upload"]
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        "200":
          description: ""
      security:
        - BasicAuth: []
  /filemodels:
    get:
      tags: ["filemodel"]
      responses:
        "200":
          description: ""
      security:
        - BasicAuth: []
  /filemodels/{name}:
    get:
      tags: ["filemodel"]
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: ""
      security:
        - BasicAuth: []
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
  schemas:
    odbdesign-server-schema:
      type: object
      properties:
        id:
          type: integer
          format: int64
